.container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}

container.lightmode {
	background-color: #fff;
	color: #333;
}

container.darkmode {
	background-color: #333;
	color: #fff;
}	

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}